* {
    max-width: 1200px;
    margin:auto;
}

body {
    margin: 0; 
    
}

img {
    padding: 1%;
    width:100px;
}

.bg-image {
    background-image: url("../images/CardGameBackgroundweb.jpg"); 
    max-width: 1400px;
    max-height: 100%;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    
}

.title {
    padding: 10%;
    text-align: right;
}

#game-grid {
    padding: 2%;
    background-color: #ff834e;
    margin: auto;
    max-width: 450px;
}


.footer {
    padding: 10%;
    text-align: center;
}

