@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
* {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    
}

body {
    margin: 0; 
}

.bg-image {
    background-image: url("../images/CardGameBackgroundweb.jpg"); 
    max-width: 1400px;
    max-height: 100%;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    padding: 10%;
    text-align: right;
    font-family: merienda;
    font-size: 110% ;
    color: #3659a9; 
}

h2 {
    font-family: merienda;
    font-size: 2rem ;
    text-align: right;
}

/* Moves Counter */
.moves {
    font-family: merienda;
    font-size: 80% ;
    
}

/* Container holding the game grid */

.gameContainer {
    padding: 2%;
    background-color: #ff834e; 
    width:30rem;
    margin: auto;
    justify-content: center; /* center the grid inside the container*/
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 6rem);
    grid-gap: 1rem;
    perspective: 800px;  /* this is needed when using the preserve 3d in transform*/
    
}

.cardFace, .cardBack{
    height: 100px;
    width: 100px;
    position: absolute;  
    pointer-events: none;

}

.cardBack {
    background-image: url("../images/cardBack.png"); 
    backface-visibility: hidden;

}

.card {
    height: 100px;
    width: 100px;
    position: relative;
    transform-style: preserve-3d;  
    transition: all 1s ease;  /* control the speed and type of transition */
    transform: rotateY(0deg); /* to start the card with the back facing up */
    
}
.toggleCard {
    transform: rotateY(180deg);  /* flip the card over onto its front */
}

/*.gameButtons {

}

/* modals */

.rulesModal {
    display: flex;
    flex-direction: column; 
    width: 500px;
    min-height: 300px;
    padding: 1.5rem;
    position: absolute;
}

.modalHidden {
    display:none;
}




/*rulesflex

.modalButton {

}

overlayHidden {

}









