@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
* {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: 0; 
    position: relative;
}

.bg-image {
    background-image: url("../images/CardGameBackgroundweb.jpg"); 
    max-width: 1400px;
    max-height: 100%;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    padding: 6%;
    text-align: right;
    font-family: merienda;
    font-size: 110% ;
    color: #072771; 
}

h2 {
    font-family: merienda;
    font-size: 2rem ;
    text-align: right;
}

/* Moves Counter */
.moves {
    font-family: merienda;
    font-size: 80% ;
    
}

/* Container holding the game grid */

.gameContainer {
    padding: 2%;
    background-color: #ff834e; 
    width:30rem;
    margin: auto;
    justify-content: center; /* center the grid inside the container*/
    border-radius: 5px;
    border-style: solid;
    border-color: #070707;
    border-width: 1px;

}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 6rem);
    grid-gap: 1rem;
    perspective: 800px;  /* this is needed when using the preserve 3d in transform*/
    
}

.cardFace, .cardBack{
    height: 100px;
    width: 100px;
    position: absolute;  
    pointer-events: none;

}

.cardFace {
    transform: rotateY(-180deg);  /* to keep images facing the correct way when flipped without this the images are reversed when flipped*/
}

.cardBack {
    background-image: url("../images/cardBack.png"); 
    backface-visibility: hidden;

}

.card {
    height: 100px;
    width: 100px;
    position: relative;
    transform-style: preserve-3d;  
    transition: all 1s ease;  /* control the speed and type of transition */
    transform: rotateY(0deg); /* to start the card with the back facing up */
    box-shadow: 0 5px 5px 0 #17171786, -5px 5px 5px 0 #17171739;
}
.toggleCard {
    transform: rotateY(180deg);  /* flip the card over onto its front */
}

/* modals */

.modal {
    display: none;
    width: 80%;
    min-height: 300px;
    overflow: auto; /* Enable scroll if needed */
    position: absolute;
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.modalContent {
    background-color: #ff8b5a; 
    padding: 5%;
    border: 1px solid #888;
    font-family: merienda;   
}

.modalContent h3 {
    font-size: 2.5rem;
    text-align: center;   
}

.modalContent ul {
    font-size: 1.2rem;  
}

.modalContent p {
    font-size: 2.5rem;
    text-align: center;  
}

/* buttons */

.rulesButton {
    text-align: center;
}


.gameButtons {
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}

.closeBtn, .resetGame, .rulesBtn, #playAgainBtn {
    background-color: #16438a;  
    color:#ff834e;
    border-radius: 5px;
    border-style: solid;
    border-color: #070707;
    border-width: 1px;
    font-size: 1.5rem;
    padding: 1% 5% 1% 5%; 
    margin: 0.1rem;
    font-family: merienda;
    box-shadow: 0 5px 5px 0 #17171786, -5px 5px 5px 0 #17171739;
}

.rulesBtn:hover, .resetGame:hover, #ßstartBtn:hover {
    background-color: #1e60ca;
}









